*~
build/
.*
cpu2017*.iso
__pycache__/
/cpu2017/
CMakeCache.txt
*.out
CMakeFiles/
tmp/
*.o
*.asm
*.log
*.aux
*.pdf
/m5cache/
/ccache/
/section-ix-a.tex
/*.iso
\#*\#
/cpu2006/
/cpu2006-install/
/cpu2017-install/
/table-*.tex
/figure-*.tex